
#outer-div {
  width: 960px;
  margin: auto;
}

header {
  overflow: auto;
  width: 100%;
  height: 100px;
  background-color: maroon;
}

header img {
  width: 100px;
  height: 60px;
}
#logo-div {
  width: 100%;
  float: auto;
}
#logo-div img {
  float: left;
  margin-right: 8px;
}

#header-p1 {
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 0px;
  color:whitesmoke;
}

#header-p2 {
  margin-top: 2px;
  color:gray;
  font-size: 20px;
}
nav {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  background-color: black
}

nav ul {
  top: 50%;
  height: 70px;
  margin-top: -35px;
}

nav > ul > li {
  float: left;
  margin-right: 50px;
  line-height: 60px;
  
}
nav > ul > li > a {
  color:whitesmoke;
}

main {
  margin-top: 30px;
}
#table {
  margin-bottom: 25px;
  float: auto;
}
#table h1 {
  font-style: oblique;
  margin-bottom: 10px;
  color:maroon;
  font-size: 20px;
  font-weight: bold;
}

#table table tr th{
  border: 1px solid black;
}

table td {
  border: 1px solid black;
}
table tr:nth-child(even) {
  background-color: lightsalmon
}
table tr:nth-child(odd) {
  background-color: gainsboro;
}
#form {
  margin-bottom: 50px;
}
form {
  background-color: blanchedalmond;
  height: 70px;
} 
fieldset input {
  width: 80px;
}
fieldset > button {
  width: 70px;
  height: 20px;
  background-color: #111;
  color: #eee;
  /* position: absolute; */
  bottom: 0px;
  
}

fieldset > button:hover {
  background-color: #eee;
  color: #111;
  transition: 50ms;
  transition-timing-function: ease-in;
  transition-delay: 100ms;
  cursor: pointer;
}
#main-img img {
  display: block;
  margin: 0px auto;
}
#article  {
  margin-top: 25px;
  margin-bottom: 60px;
}
section h1 {
  color:maroon;
  font-size: 20px;
  font-style: oblique;
}
article p {
  text-indent: 20px;
}
#hours {
  margin-bottom: 40px;
}
#hours > section  h2  {
  color:maroon;
  font-size: 20px;
  font-style: oblique;
}
#hours > section > img {
  height:150px;
  width: 150px;
  float: right;
}

#hours > section  p  {
  color: red;
  font-size: 20px;
  font-style: oblique;
}
#gift-store {
  margin-bottom: 150px;
}

#gift-store h2 {
  color:maroon;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
}
#gift-store h3 {
  color: rgb(215, 26, 58);
}
#gift-store img {
  height: 100px;
  width: 100px;
  float: left;
}
#contact {
  margin-bottom: 40px;
}
#location h2{
  color:maroon;
  font-size: 20px;
  font-style: oblique;
}
footer p {
  text-align: center;
}